body{
    font-family: sans-serif;
    text-align: center;
}

.list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
}

.cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cart>button{
    margin: 0px 8px;
}

.cart>label{
    width: 25px;
    margin: 0px 8px;
}

.cart>label>input{
    width: 25px;
}

.product {
    width: 200px;
    margin: 10px;
}
.product>div {
    line-height: 30px;
}

.product>.name {
    font-weight: bold;
}

.form-row
{
    line-height: 40px;
}

.form-row label
{
    width: 150px;
}