<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h2>Đăng nhập</h2>
<form method="post" th:action="@{/login}" th:object="${user}">
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input type="email" th:field="*{username}"/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" th:field="*{password}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="error">
                <div th:text="${error}"></div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit">Login</button>
            </td>
        </tr>
    </table>
</form>
<a href="/register">Đăng ký</a>
</body>
</html>