<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Shop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="header">
    <div class="brand">
        <a href="/"><h1>Welcome to Spring Shop. Let Shopping!</h1></a>
    </div>
    <div class="search-bar">
        <form th:action="@{/search}" method="get">
            <input type="text" name="keyword" th:value="${keyword}" placeholder="Search any thing..." autofocus>
            <button class="search-btn" type="submit">Search</button>
        </form>
        <a th:href="@{/cart}"><button class="checkout-btn">Check out</button></a>
        <form th:action="@{/logout}" method="post" style="display: inline; margin: 0;">
            <button type="submit" class="logout-btn">Đăng xuất</button>
        </form>
    </div>
    <div sec:authorize="isAuthenticated()" style="display: inline;">

    </div>
</header>

<main>
    <div class="list-product">
        <div th:each="product: ${products}" class="product-card">
            <div class="product-image">
                <img alt="Product Image" th:src="${product.getImage()}">
            </div>
            <div class="product-details">
                <div class="product-name" th:text="${product.getName()}"></div>
                <div class="product-price" th:text="${product.getFormattedPrice()}"></div>
            </div>
            <form class="cart-form" th:action="@{/cart/add}" method="post">
                <div class="cart-controls">
                    <input type="hidden" name="productId" th:value="${product.getId()}">
                    <input type="number" name="quantity" min="1" placeholder="Số lượng">
                    <button type="submit">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>