<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Shop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="header">
    <div class="brand">
        <h1>Welcome to Spring Shop. Let Shopping!</h1>
    </div>
    <div class="search-bar">
        <form th:action="@{/search}" method="get">
            <input type="text" name="keyword" th:value="${keyword}" placeholder="Search any thing..." autofocus>
            <button type="submit">Search</button>
            <a class="checkout-btn" th:href="@{/cart}">Check Out</a>
        </form>
    </div>
</header>

<main>
    <div class="list-product">
        <div th:each="product: ${products}" class="product-card">
            <div class="product-image">
                <img alt="Product Image" th:src="${product.getImage()}">
            </div>
            <div class="product-details">
                <div class="product-name" th:text="${product.getName()}"></div>
                <div class="product-price" th:text="${product.getFormattedPrice()}"></div>
            </div>
            <form class="cart-form" th:action="@{/cart/add}" method="post">
                <div class="cart-controls">
                    <input type="hidden" name="productId" th:value="${product.getId()}">
                    <input type="number" name="quantity" min="1" placeholder="Số lượng">
                    <button type="submit">Thêm vào giỏ</button>
                </div>
            </form>
        </div>
    </div>
<!--    <div th:if="${#httpServletRequest.getSession().getAttribute('loggedInUser') != null}">-->
<!--        <a class="checkout-btn" th:href="@{/cart}" th:if="${#lists.size(cartItems) > 0}">Thanh toán</a>-->
<!--    </div>-->
</main>
</body>
</html>